.myPhoto {
    float: left;
    margin-right: 10px;
    }

.inputMessage {
    height: 50px;
    }

footer {
    position: relative;
    bottom: 0px;
    text-align: center;
    width: 100%;
    height: 50px;
    color: white;
}

body {
    background-image: url("../assets/Images/background.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: relative;
    margin-bottom: 30px;
}

.card {
    margon-bottom: 10px;
}
